body {
    background-color: #1a1a1a;
    font-family: 'Source Code Pro', monospace;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(135deg, rgba(255, 0, 217, 0.2), rgba(0, 255, 238, 0.2));
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    overflow-y: auto;
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    margin-top: 50px;
}



/* TITLE */

#title {
    font-size: 3rem;
    color: #00fff2;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}



/* LOGO */

.landing_logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 0px solid #00fff2;
}



/* ABOUT ME */

#about_me {
    font-size: 1.2rem;
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin-bottom: 40px;
    max-width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 255, 213, 0.8);
}



/* QUICK LINKS */

#quick_links {
    margin-top: 20px;
}

#quick_links a {
    font-size: 1.5rem;
    margin: 10px;
    color: #00fff2;
    transition: all 0.3s ease;
}

#quick_links a:hover {
    color: #8400ff;
    transform: scale(1.1);
}



/* BUTTONS */


.buttons {
    margin-top: 50px;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #00fff2;
    color: #1a1a1a;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #8400ff;
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(119, 0, 255, 0.7);
}



/* SECTIONS */


.toggle-section {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


.toggle-section.show {
    display: block; 
    animation: fadeIn 0.5s ease;
    color: #00ffff;
}



/* PROJECTS */

.project {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.project-header {
    margin-bottom: 15px;
}

.project-header h3 {
    font-size: 1.8rem;
    color: rgb(144, 0, 255);
}

.project-header .role {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 5px;
}

.project-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-images {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.project-images img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.project-images img:hover {
    transform: scale(1.05);
}

.project-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
    overflow: hidden;
    border-radius: 8px;
    background-color: black; 
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.project-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 8px;
}


.project p {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.5;
}



/* CAREER */


.career {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.career-header {
    margin-bottom: 15px;
}

.career-header h3 {
    font-size: 1.8rem;
    color: rgb(144, 0, 255);
}


.career-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.career p {
    font-size: 1.2rem;
    color: #e5feff;
    line-height: 1.5;
}
#career b {
    color: #00fff2;
}


/* SKILLS */


.skills {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.skills-header {
    margin-bottom: 15px;
}

.skills-header h3 {
    font-size: 1.8rem;
    color: rgb(144, 0, 255);
}

.skills-header .role {
    font-size: 1rem;
    color: #ffffff;
    margin-top: 5px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills p {
    font-size: 1.2rem;
    color: #e5feff;
    line-height: 1.5;
}




/* EFFECTS */


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {
    #title {
        font-size: 2rem;
    }

    .landing_logo {
        width: 120px;
        height: 120px;
    }

    .button_container {
        flex-direction: column;
    }

    .project-images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
